<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eventify - Discover Exciting Events Near You</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
</head>
<body>


  <!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-8">
                <div class="logo">
                    <img src="static/images/logo_png.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</header>


  <!-- ***** Header Area End ***** -->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- Banner Section -->
                <div class="main-banner" id="mainBanner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6>Welcome To Eventify</h6>
                                <h4>Discover Exciting Events Near You</h4>
                                <div class="app-store-badges">
                                    <!-- Apple App Store Badge -->
                                    <a href="#" target="_blank"><img src="static/images/apple.jpg" alt="Download on the App Store"></a>
                                    <!-- Google Play Store Badge -->
                                    <a href="#" target="_blank"><img src="static/images/google.png" alt="Get it on Google Play"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Most Popular Events Section -->
                <div class="most-popular">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4>Most Popular Events Right Now</h4>
                            </div>
                            <!-- Event Cards -->
                            <div class="row">
                                <!-- Event Card 1 -->
                                <div class="col-lg-3 col-md-6">
                                    <div class="item">
                                        <img src="static/images/event-04.jpg" alt="">
                                        <h4>Music Festival</h4>
                                        <p>A weekend full of live music performances from top artists.</p>
                                        <div class="main-button">
                                            <a href="event-details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Event Card 1 -->
                                <div class="col-lg-3 col-md-6">
                                    <div class="item">
                                        <img src="static/images/event-08.jpg" alt="">
                                        <h4>Music Festival</h4>
                                        <p>A weekend full of live music performances from top artists.</p>
                                        <div class="main-button">
                                            <a href="event-details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Event Card 2 -->
                                <div class="col-lg-3 col-md-6">
                                    <div class="item">
                                        <img src="static/images/event-02.jpg" alt="">
                                        <h4>Food Expo</h4>
                                        <p>Explore the world of culinary delights with our food expo.</p>
                                        <div class="main-button">
                                            <a href="event-details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Event Card 3 -->
                                <div class="col-lg-3 col-md-6">
                                    <div class="item">
                                        <img src="static/images/event-03.jpg" alt="">
                                        <h4>Birthday Festival</h4>
                                        <p>Join industry leaders and innovators at our tech conference.</p>
                                        <div class="main-button">
                                            <a href="event-details.html">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Copyright and App Store Badges -->
                <div class="app-store-badges">
                    <!-- Apple App Store Badge -->
                    <a href="#" target="_blank"><img src="static/images/apple.jpg" alt="Download on the App Store"></a>
                    <!-- Google Play Store Badge -->
                    <a href="#" target="_blank"><img src="static/images/google.png" alt="Get it on Google Play"></a>
                </div>
                <div class="footer-content">
                    <p>Copyright © 2024 <a href="#">Eventify</a> Company. All rights reserved.
                        <br>Design: <a href="https://templatemo.com" target="_blank">TemplateMo</a> Distributed By <a href="https://gatikai.com" target="_blank">GatikAi Technologies</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function changeBackgroundImage() {
            fetch('/get_random_banner_image/')
                .then(response => response.json())
                .then(data => {
                    const mainBanner = document.getElementById('mainBanner');
                    mainBanner.style.backgroundImage = `url('${data.image_url}')`;
                })
                .catch(error => console.error('Error fetching image:', error));
        }

        // Initial image change
        changeBackgroundImage();

        // Automatically change image every 5 seconds (5000 milliseconds)
        setInterval(changeBackgroundImage, 5000);
    });
</script>
</body>
</html>
